# GDM configuration storage

[daemon]
InitialSetupEnable=False
AutomaticLogin={{ aivi_user_name }}
AutomaticLoginEnable=True

[security]

[xdmcp]

[chooser]

[debug]
# Uncomment the line below to turn on debugging
#Enable=true
